/.travis.yml~
/COPYING~
/DESIGN~
/Gemfile.lock
/Gemfile~
/README~
/path1.tmp
/pkg
/rackup.log
/sekka-1.2.1.gem
/sekka-1.2.2.gem
/sekka-1.4.0.gem
/sekka-1.4.1.gem
/sekka-1.5.0.gem
/sekka-1.5.1.gem
/sekka-1.5.2.gem
/sekka-1.5.3.gem
/sekka-1.5.4.gem
/sekka-1.5.5.gem
/sekka-1.5.6.gem
/test.db
/test.dump
/test.kct
/test.ldb
/test.log
/test.record
/test.tch
/tmpfile.euc
