/.gitignore~
/1gm-0000.txt
/2gm-0000.txt
/3gm-0000.txt
/4gm-0000.txt
/5gm-0000.txt
/6gm-0000.xz
/7gm-0000.txt
/SEKKA-JISYO-1.5.1.N.md5
/SEKKA-JISYO-1.5.1.N.tsv
/SEKKA-JISYO.CUSTOM
/SEKKA-JISYO.CUSTOM.tch
/SEKKA-JISYO.CUSTOM~
/SEKKA-JISYO.L.201008
/SEKKA-JISYO.L.201008.bak.dump
/SEKKA-JISYO.L.201008.dump
/SEKKA-JISYO.L.201008.kct
/SEKKA-JISYO.L.201008.tch
/SEKKA-JISYO.LARGE.A
/SEKKA-JISYO.LARGE.A.md5
/SEKKA-JISYO.LARGE.A.tch
/SEKKA-JISYO.LARGE.A.tsv
/SEKKA-JISYO.LARGE.N
/SEKKA-JISYO.LARGE.N.md5
/SEKKA-JISYO.LARGE.N.tch
/SEKKA-JISYO.LARGE.N.tch#xmsiz=1024m
/SEKKA-JISYO.LARGE.N.tsv
/SEKKA-JISYO.LARGE.dump
/SEKKA-JISYO.LARGE.tch
/SEKKA-JISYO.N
/SEKKA-JISYO.N.SMALL
/SEKKA-JISYO.N.md5
/SEKKA-JISYO.N.tch#xmsiz=1024m
/SEKKA-JISYO.N.tsv
/SEKKA-JISYO.S.201001.dump
/SEKKA-JISYO.S.201001.kct
/SEKKA-JISYO.S.201001.tch
/SEKKA-JISYO.SMALL
/SEKKA-JISYO.SMALL.A
/SEKKA-JISYO.SMALL.A.md5
/SEKKA-JISYO.SMALL.A.tch
/SEKKA-JISYO.SMALL.A.tsv
/SEKKA-JISYO.SMALL.N
/SEKKA-JISYO.SMALL.N.md5
/SEKKA-JISYO.SMALL.N.tch
/SEKKA-JISYO.SMALL.N.tch#xmsiz=1024m
/SEKKA-JISYO.SMALL.N.tsv
/SEKKA-JISYO.SMALL.db
/SEKKA-JISYO.SMALL.dump
/SEKKA-JISYO.SMALL.md5
/SEKKA-JISYO.SMALL.tch
/SEKKA-JISYO.SMALL.tsv
/SKK-JISYO.L~
/SKK-JISYO.S.201001~
/SKK-JISYO.hiragana-phrase.old
/head.txt
/ipadic.dic
/log
/log1
/t.tsv
/wikipedia
